* {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}
ol {
    list-style: none;
    counter-reset: li; 
}
.list li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
    font-weight: 600;
}

.wrapper {
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
}
.list > li {
    font-weight: 600;
    font-size: 20px;
    margin-top: 60px;
    
}
.list > li:first-child {
    margin-top: 30px;
}
.list li ol li {
    padding-left: 40px;
}